params {
    samplesheet = "${projectDir}/samples.tsv"
    outdir      = "${projectDir}/test_run/results"
    model_file  = "/home/desv/NovoTax/assets/models/XuanjiNovo_130M_massnet_massivekb.ckpt"
    mode        = "denovo"
}

docker.enabled = true

process {
    executor = 'local'

    withName: RUN_XUANJINOVO {
        container = 'densve/massnet-dda-nextflow:cuda11_v1.1'
        containerOptions = '--gpus all'
        cpus = 4
        memory = '12 GB'
    }
}
