params {
    samplesheet          = "${projectDir}/samples.tsv"
    outdir               = "${projectDir}/demo_results"

    model_file           = "${projectDir}/assets/models/XuanjiNovo_130M_massnet_massivekb.ckpt"
    cascadia_model_file  = null

    mode                 = "denovo"
}

docker.enabled = false

apptainer {
    enabled    = true
    autoMounts = true
    cacheDir   = "${projectDir}/.apptainer_cache"
}

process {
    executor = 'local'

    withName: RUN_XUANJINOVO {
        container = 'docker://densve/xuanjinovo-novotax:cuda11_v1.1.1'
        containerOptions = '--nv'
        cpus = 4
        memory = '12 GB'
    }

    withName: RUN_CASCADIA_WITH_MODEL {
        container = 'docker://densve/cascadia-novotax:cuda11_v1.1'
        containerOptions = '--nv'
        cpus = 4
        memory = '12 GB'
    }

    withName: RUN_CASCADIA_DEFAULT_MODEL {
        container = 'docker://densve/cascadia-novotax:cuda11_v1.1'
        containerOptions = '--nv'
        cpus = 4
        memory = '12 GB'
    }

    withName: RUN_NOVOTAX {
        container = 'docker://densve/novotax:latest'
        cpus = 1
        memory = '1 GB'
    }
}

profiles {
    docker_gpu {
        docker.enabled = true
        apptainer.enabled = false

        process {
            withName: RUN_XUANJINOVO {
                container = 'densve/xuanjinovo-novotax:cuda11_v1.1.1'
                containerOptions = '--gpus all'
            }

            withName: RUN_CASCADIA_WITH_MODEL {
                container = 'densve/cascadia-novotax:cuda11_v1.1'
                containerOptions = '--gpus all'
            }

            withName: RUN_CASCADIA_DEFAULT_MODEL {
                container = 'densve/cascadia-novotax:cuda11_v1.1'
                containerOptions = '--gpus all'
            }

            withName: RUN_NOVOTAX {
                container = 'densve/novotax:latest'
            }
        }
    }

    apptainer_wsl_gpu {
        docker.enabled = false
        apptainer.enabled = true

        process {
            withName: RUN_XUANJINOVO {
                container = 'docker://densve/xuanjinovo-novotax:cuda11_v1.1.1'
                containerOptions = '--nv --nvccli'
                cpus = 4
                memory = '12 GB'
            }

            withName: RUN_CASCADIA_WITH_MODEL {
                container = 'docker://densve/cascadia-novotax:cuda11_v1.1'
                containerOptions = '--nv --nvccli'
                cpus = 4
                memory = '12 GB'
            }

            withName: RUN_CASCADIA_DEFAULT_MODEL {
                container = 'docker://densve/cascadia-novotax:cuda11_v1.1'
                containerOptions = '--nv --nvccli'
                cpus = 4
                memory = '12 GB'
            }

            withName: RUN_NOVOTAX {
                container = 'docker://densve/novotax:latest'
                cpus = 1
                memory = '1 GB'
            }
        }
    }
}