nextflow.enable.dsl = 2

params {
    input                       = null
    output_dir                  = './results'

    mode                        = 'denovo'

    xuanjinovo_model_file       = null
    cascadia_model_file         = null

    gtdb_db_dir                 = null
    gtdb_protein_reps           = null
    filter_host                 = null
    filter_contaminants         = true
    ncbi_api_key                = null
    genus_score                 = 1275
    max_iterations              = 20
    max_strains                 = 1000
    novotax_cache_dir           = "${projectDir}/.novotax_cache"

    create_dbs                  = null
    gtdb_release                = 226

    // Backward-compatible aliases
    samplesheet                 = null
    outdir                      = null
    model_file                  = null
    novotax_db_path             = null
    novotax_filter_host         = null
    novotax_filter_contaminants = null
    novotax_ncbi_api_key        = null
    novotax_genus_score         = null
    novotax_max_iterations      = null
    novotax_max_strains         = null
    gtdb_protein_dir            = null
}

docker.enabled = false

apptainer {
    enabled    = true
    autoMounts = true
    cacheDir   = "${projectDir}/.apptainer_cache"
}

process {
    executor = 'local'

    withName: RUN_XUANJINOVO_WITH_MODEL {
        container = 'docker://densve/xuanjinovo-novotax:cuda11_v1.1.4'
        containerOptions = '--nv'
        cpus = 4
        memory = '12 GB'
    }

    withName: RUN_XUANJINOVO_DEFAULT_MODEL {
        container = 'docker://densve/xuanjinovo-novotax:cuda11_v1.1.4'
        containerOptions = '--nv'
        cpus = 4
        memory = '12 GB'
    }

    withName: RUN_CASCADIA_WITH_MODEL {
        container = 'docker://densve/cascadia-novotax:cuda11_v1.1'
        containerOptions = '--nv'
        cpus = 4
        memory = '12 GB'
    }

    withName: RUN_CASCADIA_DEFAULT_MODEL {
        container = 'docker://densve/cascadia-novotax:cuda11_v1.1'
        containerOptions = '--nv'
        cpus = 4
        memory = '12 GB'
    }

    withName: RUN_NOVOTAX {
        container = 'docker://densve/novotax:v1'
        containerOptions = "--bind ${params.novotax_cache_dir}:/tmp/novotax_cache"
        cpus = 4
        memory = '12 GB'
    }

    withName: CREATE_NOVOTAX_DBS {
        container = 'docker://densve/novotax:v1'
        cpus = 4
        memory = '12 GB'
    }
}

profiles {
    apptainer_gpu {
        docker.enabled = false
        apptainer.enabled = true
        apptainer.runOptions = '--nv'
    }

    apptainer_wsl_gpu {
        docker.enabled = false
        apptainer.enabled = true

        process {
            withName: RUN_XUANJINOVO_WITH_MODEL {
                containerOptions = '--nv --nvccli'
            }

            withName: RUN_XUANJINOVO_DEFAULT_MODEL {
                containerOptions = '--nv --nvccli'
            }

            withName: RUN_CASCADIA_WITH_MODEL {
                containerOptions = '--nv --nvccli'
            }

            withName: RUN_CASCADIA_DEFAULT_MODEL {
                containerOptions = '--nv --nvccli'
            }

            withName: RUN_NOVOTAX {
                containerOptions = "--bind ${params.novotax_cache_dir}:/tmp/novotax_cache --nvccli"
            }
        }
    }

    docker_gpu {
        docker.enabled = true
        apptainer.enabled = false

        process {
            withName: RUN_XUANJINOVO_WITH_MODEL {
                container = 'densve/xuanjinovo-novotax:cuda11_v1.1.4'
                containerOptions = "--gpus 'device=0'"
            }

            withName: RUN_XUANJINOVO_DEFAULT_MODEL {
                container = 'densve/xuanjinovo-novotax:cuda11_v1.1.4'
                containerOptions = "--gpus 'device=0'"
            }

            withName: RUN_CASCADIA_WITH_MODEL {
                container = 'densve/cascadia-novotax:cuda11_v1.1'
                containerOptions = "--gpus 'device=0'"
            }

            withName: RUN_CASCADIA_DEFAULT_MODEL {
                container = 'densve/cascadia-novotax:cuda11_v1.1'
                containerOptions = "--gpus 'device=0'"
            }

            withName: RUN_NOVOTAX {
                container = 'densve/novotax:v1'
                containerOptions = "-v ${params.novotax_cache_dir}:/tmp/novotax_cache"
            }

            withName: CREATE_NOVOTAX_DBS {
                container = 'densve/novotax:v1'
            }
        }
    }
}
